.vscode/**
.vscode-test/**
.github/**
.npm-cache/**
**/node_modules/**
*.code-workspace
src/**
scripts/**
doc/improvement-plan.md
*.vsix
csky-cdk-assistant-*/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.oxlintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
out/**
!out/extensionMain.js
!out/readOnlyCdkRunner.js
