.vscode/**
.vscode-test/**
src/**
scripts/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.oxlintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
out/test/**
out/extension.js
out/extension.js.map
out/assistant.js
out/main.js
